<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link-rel="stylesheet".href="/css/style.css">
</head>
<body>
    <header> 
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="LOGO MERCADO LIEBRE">
        </div>
        <ol>
            <li><a href="/">barra de busqueda</a></li>
        </ol>       
       </header>
    
        <form action=""method="get"></form>
      
       
        <div>
        <p>COMPRA EN CUOTAS Y SIN TARJETA DE CREDITO</p>
        <nav>      
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
                </ul>

            <ul>
                <li><a href="/">Crea tu cuenta</a></li>
                <li><a href="/">Ingresá</a></li>
                <li><a href="/">Mis compras</a></li>
            </ul>
        </div>
    </nav>
    </header>
    <div>
    <main>
        <section>
           <H2>● Sección: Basado en tu última visita</H2> 
            <article>
                <h3>Cafetera Moulinex</h3>
                <img src="/images/cafetera.jpg" alt="cafetera" width='600px'>    
                <p>$6.770</p>
                <span>40% OFF</span>
                
            </article>
            <article>
                <h3>MacBook Pro 2019</h3>

                     <img src="/images/compu.jpg" alt="macbook" width='600px'>
                     <p>$230.000</p>
                     <span>20% off</span>
                     
                 </article>
                 <article>
                    <h3>Samsung Galaxy S10</h3>
                         <img src="/images/celu.jpg" alt="samsung galaxy"width='600px'>
                         <p>$70.500</p>
                         <span>10% off</span>
                         
                     </article>
                     <article>
                        <h3>SmartTv Samsung 43"</h3>
                             <img src="/images/tv.jpg" alt="tv samsung"width='600px'>
                             <p>$23.200</p>
                             <span>5% off</span>
                             
                         </article>
                         </section>
        </div>
        <div>
                <H2>● Sección de Ofertas</H2> 

                  
                <article>
                    <h3>Cafetera Moulinex</h3>
                    <img src="/images/cafetera.jpg" alt="cafetera"width='600px'>
                                            
                    <p>$6.770</p>
                    <span>40% OFF</span>
                    
                </article>
                
                   <article>
                    <h3>MacBook Pro 2019</h3>
                         <img src="/images/compu.jpg" alt="macbook"width='600px'>
                         <p>$230.000</p>
                         <span>20% off</span>
                        
                     </article>
                     
                        <article>
                            <h3>Samsung Galaxy S10</h3>
                             <img src="/images/celu.jpg" alt="samsung galaxy"width='600px'>
                             <p>$70.500</p>
                             <span>10% off</span>
                             
                     </article>
                    
                           <article>
                            <h3>SmartTv Samsung 43"</h3>
                                 <img src="/images/tv.jpg" alt="tv samsung"width='600px'>
                                       <p> $23.200</p>
                                 <span>5% off</span>
                                 
                             </article>
                             </section>      
                          
        
    </main>
    </div>


    <div>
    <footer>
        <h2>● Pagá con tarjeta o en efectivo</h2>
              <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!</p>

        <h2>● Envío gratis desde $ 2.500</h2>
              <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.</p>

        <h2>● Seguridad, de principio a fin</h2>
              <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.</p>

        <h2>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>

        </footer>
    
</body>
</html>
</div>